<div class="app-logo">
  <div class="toggl">
    <%= icon("menu2") %>
  </div>
  <%= link_to CONFIG[:app_name], root_path, class: "labl" %>
  <%= link_to "SH", root_path, class: "short-labl" %>
</div>


<div class="aside main-aside">
  <div class="aside-inner">

    <%= render "navigations/shared/user_aside_lnk" %>
    
    
    <%# if 3 == 4 %>
      <%= link_to app_root_path, class: "aside_lnk #{'current' if current_page?(app_root_path)}" do  %>
        <div class="icn"><%= icon("meter") %></div>
        <div class="labl">Überblick</div>
      <% end %>
    <%# end %>
    
    
    <%= link_to app_questions_path, class: "aside_lnk #{'current' if params[:controller] == "backend/questions"}" do  %>
      <div class="icn"><%= btricn("cap-academic") %></div>
      <div class="labl">Fragen</div>
    <% end %>
    
    <%= link_to app_settings_path, class: "aside_lnk #{'current' if params[:controller] == "backend/settings"}" do  %>
      <div class="icn"><%= btricn("settings") %></div>
      <div class="labl">Einstellungen</div>
    <% end %>
    
    <hr/>
    
    <%= link_to game_path, class: "aside_lnk" do  %>
      <div class="icn"><%= btricn("figure-run-right") %></div>
      <div class="labl">Spielen</div>
    <% end %>


  </div>
</div>
