<%= block_to_partial "backend/users/account_view", type: "password" do %>
  
  <%= content_for :sub_headline do %>
    <%= t("edit_profile.field_helper.change_password") %>
  <% end %>
  
  <% label_col = "col-sm-5 col-md-4" %>
  <% input_col = "col-sm-7 col-md-8" %>
  <% label_offset = "col-sm-offset-5 col-md-offset-4" %>
  
  <%= form_for(@user, as: "user", url: user_registration_path, html: { method: :put, class: "form" }) do |f| %>
    
    <br/>
    
    <div class="row">
      <div class="<%= label_col %>"><%= f.label :current_password %></div>
      <div class="<%= input_col %>">
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
    </div>
    <div class="row press">
      <div class="<%= input_col %> <%= label_offset %>">
        <%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
      </div>
    </div>
    
    <br/>
    
    <div class="row press">
      <div class="<%= label_col %>"><%= f.label :new_password %></div>
      <div class="<%= input_col %>">
        <%= f.password_field :new_password, class: "form-control", autocomplete: "off" %>
      </div>
    </div>
    
    <div class="row press">
      <div class="<%= label_col %>"><%= f.label :new_password_confirmation %></div>
      <div class="<%= input_col %>">
        <%= f.password_field :new_password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <%= f.submit t("buttons.save"), class: "btn btn-success btn-block", data: {disable_with: t("messages.saving")} %>
      </div>
    </div>
  
  <% end %>
  
  <br/>
  <div class="divider">
    <p class="loud"><%= t("words.or") %></p>
  </div>
  <br/>
  <h3><%= icon("lock-open") %> <%= t("edit_profile.headlines.password_reset") %></h3>
  <p class="loud"><%= t("edit_profile.field_helper.reset_password") %></p>
  <br/>
  
  <%= form_for(@user, :as => :user, :url => new_user_password_path, :html => { :method => :post }) do |f| %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.email_field :email, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="col-sm-4">
        <%= f.submit t("buttons.send"), class: "btn btn-success btn-block", data: {disable_with: t("messages.sending")} %>
      </div>
    </div>
  <% end %>

  
<% end %>