<h1><%= t( "devise.mailer.reset_password_instructions.greeting", recipient: (@resource.first_name.present? ? " #{@resource.first_name}" : "") ) %></h1>

<br/>

<p class="loud"><%= t("devise.mailer.reset_password_instructions.instruction") %></p>

<br/>

<%= link_to t("devise.mailer.reset_password_instructions.action"), edit_password_url(@resource, reset_password_token: @token), class: "btn btn-app" %>
<div class="clearfix"></div>

<br/>

<p class="loud"><%= t("devise.mailer.reset_password_instructions.instruction_2") %></p>

<p class="loud"><%= t("devise.mailer.reset_password_instructions.instruction_3") %></p>

<br/>

