<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
  <meta name="current-user-id" content="<%= current_user.id %>" />
</head>
<body class="app <%= "with_important_notice" unless Rails.env.production? %>">

<%= render "navigations/app_aside" %>

<%= render "shared/dev_notice" %>
<%= render "shared/flash_msgs" %>

<div class="main-content">

  <%= yield %>

</div>

<%= render "shared/debug" %>
<%= render "shared/modal" %>
<%= render "shared/feedback_form" %>

<%= render "shared/analytics" %>

</body>
</html>
