<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<% body_class = ["fixed-nav-lg"] %>
<% body_class = [] if @header_overlay %>
<% body_class << "with_important_notice" unless Rails.env.production? %>
<% body_class << @body_classes if @body_classes %>
<body class="<%= body_class.join(" ") %>">

<%= render "shared/dev_notice" %>
<%= render "shared/flash_msgs" %>

<%= render "navigations/blank_header" unless @no_header %>

<%= yield %>

<%= render "navigations/footer" %>

<%= render "shared/debug" %>
<%= render "shared/feedback_form" %>

<%= render "shared/analytics" %>

</body>
</html>
